
.signup-page{
    background-color: #0078D7;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    align-items: center;
    text-align: center;
    width: 100%;
    overflow-x: hidden;

  
    &__welcome{
        position: absolute;
        left: 140px;
        top: 120px;
        h1{
            font-size: 64px;
            line-height: 75px;
            color : white;
        }
        h5{
            font-size: 30px;
            line-height: 35px;
            color : white;
        }
        button{
            margin-top: 40px;
            background: none;
            border-radius: 5px;
            width: 200px;
            height: 50px;
            border: solid white;
            border-radius: 100px;
            color: white;
            font-size: 15px;
            cursor: pointer;
        }
        button:active{
            box-shadow: rgb(200, 208, 223);
            position: relative;
            top: 5px;
          }
        button:hover{
            background-color:rgb(78, 145, 245);
          }
    }

    &__created-account{
        position: relative;
        width: 450px;
        height: 600px;
        left: 800px;
        top: 20px;
        background: #FFFFFF;
        box-shadow: 10px 10px 25px #1F6AA6;
        border-radius: 35px;
       
        h3{
            font-size: 36px;
            color: #0078D7;
            margin-top: 10px;
        }
        &__icon a{
            justify-content: space-evenly;
            color: rgb(101, 107, 114);
            margin: 10px 10px;
        }

        &__input{
            width: 400px;
            margin: 50px 30px;
            p{
                font-style: oblique;
                margin-top: 40px;
                margin-bottom: 30px;
                font-size: 18px;
                color: rgb(167, 161, 161);
            }
            &__input-txt{
                margin-left: 15px;
                margin-top: 20px;
                width: 380px;
                height: 35px;
                border: 2px solid rgb(166, 199, 226);
                box-sizing: border-box;
                border-radius: 5px;
            }
            &__input-button{
                margin-top: 40px;
                width: 200px;
                height: 50px;
                background: #2A75E6;
                border-radius: 100px;
                color: white;
                font-size: 15px;
                cursor: pointer;
            }
            &__input-button:active{
                    box-shadow: rgb(200, 208, 223);
                    position: relative;
                    top: 5px;
            }
            &__input-button:hover{
                    background-color:rgb(78, 145, 245);
            }
        }
    }


}