
.signin-page{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    align-items: center;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
    background-color: #0078D7;
    z-index: 1;

    &__welcome{
        content: "";
        background-image: url(../img/write.jpeg) ;
        -webkit-filter: blur(5px) ;
        z-index: -1;
        display: block;
        background-size: cover;
        position: absolute;
        left: 140px;
        top: 20px;
        box-shadow: 3px 3px 6px #1F6AA6;
        border-radius: 35px;
        width: 450px;
        height: 600px;
    }   
    &__title{
        position: absolute;
        left: 140px;
        top: 20px;
        background: rgba(14, 111, 188, 0.38);
        border-radius: 35px; 
        width: 450px;
        height: 600px;
        h1{
            font-size: 60px;
            line-height: 75px;
            color : white;
            margin-top: 150px;
        }
        h5{
            font-size: 25px;
            line-height: 35px;
            color : white;
            margin-top: 30px;
        }
        button{
            margin-top: 100px;
            background: none;
            border-radius: 5px;
            width: 200px;
            height: 50px;
            border: solid white;
            border-radius: 100px;
            color: white;
            font-size: 15px;
            cursor: pointer;
        }
        button:active{
            box-shadow: rgb(200, 208, 223);
            position: relative;
            top: 5px;
        }
        button:hover{
            background-color:rgba(125, 162, 218, 0.4);
        }
    }

    &__login{
        position: relative;
        width: 450px;
        height: 600px;
        left: 780px;
        top: 50px;        
        display: block;
        background-color: #0078D7;
        
        h3{
            font-size: 35px;
            font-style: bold;
            color: rgb(222, 230, 236);
            margin-top: 10px;
        }
        &__icon a{
            justify-content: space-evenly;
            color: rgb(239, 242, 245);
            padding-left: 20px;
        }

        &__input{
            width: 400px;
            margin: 50px 30px;

            p{
                font-style: oblique;
                margin-top: 50px;
                margin-bottom: 50px;
                font-size: 18px;
                color: rgb(255, 255, 255);
            }
            &__input-txt{
                margin-top: 30px;
                width: 400px;
                height: 35px;
                border: 2px solid rgb(160, 181, 209);
                box-sizing: border-box;
                border-radius: 5px;
                color:  rgb(53, 50, 50);
            }
            &__input-button{
                margin-top: 50px;
                background: #2A75E6;
                width: 200px;
                height: 50px;
                border: solid white;
                border-radius: 100px;
                color: white;
                font-size: 15px;
                cursor: pointer;
            }
            &__input-button:active{
                    box-shadow: rgb(200, 208, 223);
                    position: relative;
                    top: 5px;
            }
            &__input-button:hover{
                    background-color:rgb(78, 145, 245);
            }
        }
    }


}